.analytics {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 120px;
  padding: 20px;
  border-radius: 10px;
}
.analytics-active {
  background-color: #eff3ff;
}

.analytics-primary {
  background-color: #fff5f6;
}
.analytics-secondary {
  background-color: #fffae6;
}

.analytic-main {
  display: flex;
  height: 90vh;
  flex-direction: row;
  span {
    h2 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 800;
      font-size: 28px;
      padding: 0;
      margin: 0;
    }
  }
}
.analytic-footer {
  flex: 1;
  align-items: center;
  display: flex;
  span {
    display: flex;
    flex: 1;
    justify-content: space-between;
    b {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
