.ant-table-thead .ant-table-cell {
    background-color: transparent !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #949DA4 !important;
    border-bottom: 1px solid #DEE1E3 !important;
}

.ant-table-cell {
    font-weight: 500;
    font-size: 14px !important;
    color: #011627;
}